body {
  font-family: 'Lato', sans-serif;
}

ul.tabs {
  height: 10px;
  padding: 0;
  margin: 0;
}

ul.tabs > li {
  width: auto;
  float: left;
  list-style-type: none;
  font-size: 12px;
  padding: 10px;
  color: #9D9D9D;
}

ul.tabs > li:hover {
  color: #373737;
}


.header-hero {
  background:
  url(https://lh4.googleusercontent.com/YaAkFIUOP_lG52vFIXKbhKuR0-UCMPsL6lFmL09sPHNauyCZ8PARgz4UdVTPsuHODKgPkkKm4whHryg=w1698-h966-rw);
  background-size: cover;
  width: 100%;
  height: 216;
  color: white;
  text-align: center;
}

.header-hero h1 {
  padding: 100px 0;
  text-shadow: 1px 1px #000000;

}

.content-container {
  width: 80%;
  margin: 0 auto;
  padding-right: 30px;
}

ul > div {
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.boxes {
  list-style-type: none;
}

.boxes .box {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
}

.mainbox {
  width: 100%;
  padding: 10px;
  border: 1px solid ##C0C0C0;
  margin: 0; 
  background-color: #4F934E;
  text-align: center;
  box-sizing: border-box;
}

.mainbox.mainbox-green {
  background-color: #4F934E;
}

.mainbox.mainbox-blue {
  background-color: #2A4787;
}

.mainbox.mainbox-black {
  background-color: #101010;
}

.level {
  color: #F7ECFB;
  font-size: 12px;
}

.money {
  color: #F7ECFB;
  font-size: 50px;
}

.month {
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.bottombox {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: solid black;
}

.bottombox li {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  margin: 0; 
  background-color: #F7F7F7;
  font-size: 8px;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.button-border {
  width: 100%;
  padding: 15px;
  border: 1px solid #EEEEEE;
  margin: 0; 
  background-color: #FFFFFF;
  font-size: 6px;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
}

.myButton {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #000000;
  font-size: 12px;
  padding: 2px 10px;
  border: solid #E5E5E5 1px;
  text-decoration: none;
}

.paragraph-container {
  width-left: 100%;
  margin: 0;
}

.title {
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
}

.paragraph-left {
    float: left;
    width: 33%;
    text-align: justify;
    font-size: 7px;
    padding-left: 120px;
    padding-top: 30px;
    font-family: 'Oxygen', sans-serif;
    line-height: 220%;
    color: #6C7A80;
}

.paragraph-right {
    float: right;
    width: 33%;
    text-align: justify;
    font-size: 7px;
    padding-right: 110px;
    padding-left: 20px;
    padding-top: 30px;
    font-family: 'Oxygen', sans-serif;
    line-height: 220%;
    color: #6C7A80;
}

.title-support {
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  padding-top: 35px;
}

.title-plan {
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
  padding-top: 35px;
}

footer {
    float: left;
    background-color: black;
    width: 100%;
    height: 25px;
    text-align: center;
    color: #7B7B7B;
    font-size: 9px;
    padding-top: 18px;
}

.try-now {
  color: white;
  text-decoration: underline;
}

.unsplash {
  color: white;
  text-decoration: underline;
}
